<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #000000; font-size: 26pt;"><em><strong><span style="font-family: helvetica;">Participer ensemble!</span></strong></em></span></p>
<p style="text-align: center;"><span style="color: #000000; font-size: 26pt;"><em><strong><span style="font-family: helvetica;">Valoriser soi-m&ecirc;me!</span></strong></em></span></p>
<p style="text-align: center;"><span style="color: #000000; font-size: 26pt;"><em><strong><span style="font-family: helvetica;">Int&eacute;grer tout le monde!</span></strong></em></span></p>