<p>Nos tarifs&nbsp;: 100 CHF horaire</p>
<p>Ce tarif s&rsquo;explique par le temps de pr&eacute;paration de l&rsquo;atelier en soi et les diff&eacute;rentes t&acirc;ches de coordinations exig&eacute;es. De plus, selon les &eacute;tapes, les ateliers seront encadr&eacute;s par deux personnes.</p>
<p>Bien que nous apportions notre mat&eacute;riel et cherchions &agrave; trouver des lieux d&rsquo;exposition et de pr&eacute;sentation &agrave; budget abordable, des frais suppl&eacute;mentaires peuvent appara&icirc;tre. En effet, selon le projet choisi du mat&eacute;riel&nbsp;sp&eacute;cifique devra &ecirc;tre acquis (art plastique) par l&rsquo;institution ou association elle-m&ecirc;me, entrainant des frais suppl&eacute;mentaires. Nous veillerons dans tous les cas &agrave; vous transmettre un devis pour ces aspects, afin que vous puissiez prendre une d&eacute;cision en fonction de ce dernier.</p>
<p>Si vous &ecirc;tes int&eacute;ress&eacute;es et souhaitez avoir plus d&rsquo;informations concernant le projet vous pouvez nous contactez &agrave; l&rsquo;adresse email suivant ou par t&eacute;l&eacute;phone.</p>
<p>&nbsp;</p>



    