	
	<div class="row">
	<h4>Nos ateliers</h4>
	
	<table style="width:100%">
  <tr>
   
	<th>Formules</th>
   <th>Nom</th>
    <th>Nombre d'heures</th> 
    <th>Nombre de participants</th>
	 <th>Présentation</th>
	 <th>Détails</th>
  </tr>
  <tr>
    <td>No 1</td>
    <td>Cycles créatifs</td>
    <td>Minimum 25h</td>
	<td>Max 20 (à discuter selon public)</td>
	<td>Présentation public</td>
<td>Cliquez pour afficher présentation <input type="checkbox" ng-model="formule_1"></td>
  </tr>
  <tr>
    <td>No 2</td>
    <td>Initiation à la création</td>
    <td>3h-5h</td>
	<td>Max 20 (à discuter selon public)</td>
	<td>Présentation du travail au sein de l'institution</td>
	<td>Cliquez pour afficher présentation <input type="checkbox" ng-model="formule_2"></td>
  </tr>
</table>
	</div>
	
	
	  <br />
	    <br />
	
	<div ng-show="formule_1" >
   <div class="row" id="note">

   <table style="width:100%">
  <tr>
   
	<th>Formule 1: Cycles créatifs</th>
 

  </tr>
  
  
   <tr>
   <th>
	<p>L&rsquo;id&eacute;e de ce cette formule est de d&eacute;velopper un projet artistique en plusieurs s&eacute;ances en vue d&rsquo;une performance ou d&rsquo;une exposition. Le &bdquo;cycle cr&eacute;atif&ldquo; est divis&eacute; en trois &eacute;tapes:</p>
<ol>
<li>Formation d&rsquo;un team et identification d&rsquo;une id&eacute;e ou concept ( 3h): La premier &eacute;tape vise au &bdquo;team building&ldquo;, &agrave; identifier des id&eacute;es pour le projet ainsi que les comp&eacute;tences des participant-e-s, &agrave; travers des exercices ludiques (Icebreakers, etc.) et la r&eacute;alisation d&rsquo;un brainstorming interactif et participatif (Mindmap, etc.). NomNombre d&rsquo;heuresNombre de personnes Pr&eacute;sentation Formule 1 Cycles cr&eacute;atifs Minimum 25h Maximum 20 (&agrave; discuter selon le public) Pr&eacute;sentation public Formule 2 Initiation &agrave; la cr&eacute;ation 3h-5hMaximum 20 (&agrave; discuter selon le public) Pr&eacute;sentation du travail au sein de l&rsquo;institution</li>
<li>Exploration et cr&eacute;ation ( 15h-20h): La deuxi&egrave;me &eacute;tape vise &agrave; explorer la forme artistique choisie &agrave; travers divers exercices et &agrave; mat&eacute;rialiser le projet &agrave; travers un processus cr&eacute;atif. Durant ce processus les animatrices cr&eacute;ent la structure et le contenu du projet en collaboration avec les participant-e-s. Elle leurs donnent des outils, des pistes (techniques de dessin, possibilit&eacute; de mouvement, etc.) et les guident tout au long du processus.</li>
<li>Pr&eacute;sentation du projet et cl&ocirc;ture du cycle cr&eacute;atif ( 2h): La troisi&egrave;me &eacute;tape quant &agrave; elle vise &agrave; la pr&eacute;sentation du projet (spectacle, exposition, cr&eacute;ation d&rsquo;un livret, blog) &agrave; un public pr&eacute;alablement choisi et &agrave; la cl&ocirc;ture du cycle cr&eacute;atif.</li>
</ol>
 </th>

  </tr>
  </table>
   
   
   
   
   

 </div>
</div>


<div ng-show="formule_2" >
   <div class="row" id="note">

<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;">Pia Catherine Z&uuml;hlke est <strong>artiste et illustratrice dipl&ocirc;m&eacute;e</strong>. Elle a obtenu son &eacute;ducation Bachelor durant les ann&eacute;es 2012 &agrave; 2015 &agrave; la Haute Ecole d&rsquo;art &amp; Design Lucerne. Elle est couramment en voie d&rsquo;obtenir son <strong>dipl&ocirc;me de Master en m&eacute;diation d&rsquo;art et culture &agrave; la Haute Ecole des beaux-arts &agrave; Berne</strong>, toute en travaillant comme assistante &agrave; la Haute Ecole dans le domaine de recherche.</p>
<p style="padding-left: 30px;"><br />Durant ses &eacute;tudes elle a acquis des connaissances en histoire de l&rsquo;art et de l&rsquo;exp&eacute;rience dans la pratique des arts visuels. Polyvalente, elle cumule actuellement des exp&eacute;riences pratiques dans le domaine de <strong>l&rsquo;enseignement, de la m&eacute;diation dans des mus&eacute;es ainsi que dans la coordination et l&rsquo;animation d&rsquo;ateliers socio-culturelles.</strong></p>
<p style="padding-left: 30px;">Elle est convaincue que les beaux-arts sont non seulement un outil d&rsquo;expression mais aussi d&rsquo;union et souhaite mobiliser ses comp&eacute;tences afin de cultiver une compr&eacute;hension mutuelle libre de pr&eacute;jug&eacute;s permettant de renforcer la coh&eacute;sion sociale.</p>
 </div>
</div>


	
	
	
	
	
	 <br />
	<div class="row">
	 
		<h4>Formes d'expression</h4>
	</div>