<div class="row">
 <div class="col-lg-3 col-md-3" >
		 <h4><B>Messaline Gerstein </B></h4>
	</div>

</div>
<div class="row">
   
    <div class="col-lg-3 col-md-3" ng-init="messa_img = 'media/messa_profil.jpeg'">
		<img class="img-responsive"  ng-src="{{messa_img}}"> </img>
	</div>
   
  
   
   <div class="col-lg-9 col-md-9">
      <div class="row">
<p>Co-fondatrice et responsable d&rsquo;Ethos-animation, m&eacute;diatrice responsable dans les ateliers d&rsquo;arts performatifs et d&rsquo;&eacute;criture, collaboratrice dans les ateliers d&rsquo;arts visuels.</p>
	
	</div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
           
		   
		        <li>
                  <p>Afficher présentation <input type="checkbox" ng-model="messa_presentation"></p>
               </li>
               <li>
                  <p>Afficher CV <input type="checkbox" ng-model="messa_cv"></p>
               </li>
             
            </ul>
         </div>
      </div>
   </div>
</div>

  <div class="row">
  <br />
  </div>
<div ng-show="messa_presentation" >
   <div class="row" id="note">

<p>&nbsp;</p>
<p>Messaline Gerstein &eacute;tudie les lettres et les sciences sociales &agrave; Lausanne avec un Bachelor &agrave; la cl&eacute; et est en voie d&rsquo;obtenir son Master en Travail social et politiques sociales &agrave; l&rsquo;universit&eacute; de Fribourg. Entre ces deux formations, elle part au Br&eacute;sil puis en Espagne pour &eacute;tudier la danse &agrave; temps complet (2 ans). Tr&egrave;s polyvalente elle cumule des exp&eacute;riences professionnelles dans divers domaines, enseignement, animation socio-culturelle, accompagnement et coordination et gestion de projet.</p>
<p><br />Convaincue que l&rsquo;art peut &ecirc;tre utilis&eacute; comme vecteur de valorisation de soi et outil d&rsquo;int&eacute;gration sociale, elle souhaite aujourd&rsquo;hui mobiliser les diverses comp&eacute;tences acquises tout au long de son parcours pour d&eacute;velopper des ateliers de m&eacute;diation culturelle favorisant la participation, l&rsquo; &laquo; empowerment &raquo; et l&rsquo;int&eacute;gration.</p>
  </div>
</div>


<div ng-show="messa_cv">
   <div class="row">
   

      <object data="media/CV_Messaline Gerstein danse.pdf" type="application/pdf" id="pdfview">
         <embed src="media/CV_Messaline Gerstein danse.pdf" type="application/pdf" />
      </object>
   </div>
</div>




































<div class="row">
 <div class="col-lg-3 col-md-3" >
		 <h4><B>Messaline Gerstein </B></h4>
	</div>

</div>
<div class="row">
   
    <div class="col-lg-3 col-md-3" ng-init="messa_img = 'media/messa_profil.jpeg'">
		<img class="img-responsive"  ng-src="{{messa_img}}"> </img>
	</div>
   
  
   
   <div class="col-lg-9 col-md-9">
      <div class="row">
<p>Co-fondatrice et responsable d&rsquo;Ethos-animation, m&eacute;diatrice responsable dans les ateliers d&rsquo;arts performatifs et d&rsquo;&eacute;criture, collaboratrice dans les ateliers d&rsquo;arts visuels.</p>
	
	</div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
           
		   
		        <li>
                  <p>Afficher présentation <input type="checkbox" ng-model="messa_presentation"></p>
               </li>
               <li>
                  <p>Afficher CV <input type="checkbox" ng-model="messa_cv"></p>
               </li>
             
            </ul>
         </div>
      </div>
   </div>
</div>

  <div class="row">
  <br />
  </div>
<div ng-show="messa_presentation" >
   <div class="row" id="note">

<p>&nbsp;</p>
<p>Messaline Gerstein &eacute;tudie les lettres et les sciences sociales &agrave; Lausanne avec un Bachelor &agrave; la cl&eacute; et est en voie d&rsquo;obtenir son Master en Travail social et politiques sociales &agrave; l&rsquo;universit&eacute; de Fribourg. Entre ces deux formations, elle part au Br&eacute;sil puis en Espagne pour &eacute;tudier la danse &agrave; temps complet (2 ans). Tr&egrave;s polyvalente elle cumule des exp&eacute;riences professionnelles dans divers domaines, enseignement, animation socio-culturelle, accompagnement et coordination et gestion de projet.</p>
<p><br />Convaincue que l&rsquo;art peut &ecirc;tre utilis&eacute; comme vecteur de valorisation de soi et outil d&rsquo;int&eacute;gration sociale, elle souhaite aujourd&rsquo;hui mobiliser les diverses comp&eacute;tences acquises tout au long de son parcours pour d&eacute;velopper des ateliers de m&eacute;diation culturelle favorisant la participation, l&rsquo; &laquo; empowerment &raquo; et l&rsquo;int&eacute;gration.</p>
  </div>
</div>


<div ng-show="messa_cv">
   <div class="row">
   

      <object data="media/CV_Messaline Gerstein danse.pdf" type="application/pdf" id="pdfview">
         <embed src="media/CV_Messaline Gerstein danse.pdf" type="application/pdf" />
      </object>
   </div>
</div>






