<div class="row">
 <div class="col-lg-3 col-md-3" >
		 <h4><B>Messaline Gerstein </B></h4>
	</div>

</div>
<div class="row">
   
    <div class="col-lg-2 col-md-2" ng-init="messa_img = 'media/messa_profil.jpeg'">
		<img class="img-responsive"  ng-src="{{messa_img}}"> </img>
	</div>
   
  
   
   <div class="col-lg-10 col-md-10">
      <div class="row">
<p>Co-fondatrice et responsable d&rsquo;Ethos-animation, <strong>m&eacute;diatrice responsable dans les ateliers d&rsquo;arts performatifs et d&rsquo;&eacute;criture</strong>, collaboratrice dans les ateliers d&rsquo;arts visuels.</p>
	</div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
           
		   
		        <li>
                  <p>Afficher présentation <input type="checkbox" ng-model="messa_presentation"></p>
               </li>
          
             
            </ul>
         </div>
      </div>
   </div>
</div>

  <div class="row">
  <br />
  </div>
<div ng-show="messa_presentation" >
   <div class="row" id="note">

<p>&nbsp;</p>
<p style="padding-left: 30px;">Messaline Gerstein &eacute;tudie <strong>les lettres et les sciences sociales</strong> &agrave; Lausanne avec un<strong> Bachelor</strong> &agrave; la cl&eacute; et est en voie d&rsquo;obtenir son <strong>Master en Travail social et politiques sociales</strong> &agrave; l&rsquo;universit&eacute; de Fribourg. Entre ces deux formations, elle <strong>part au Br&eacute;sil puis en Espagne pour &eacute;tudier la danse &agrave; temps complet (2 ans)</strong>. Tr&egrave;s polyvalente elle cumule des exp&eacute;riences professionnelles dans divers domaines, <strong>enseignement, animation socio-culturelle, accompagnement et coordination et gestion de projet.</strong></p>
<p style="padding-left: 30px;"><br />Convaincue que l&rsquo;art peut &ecirc;tre utilis&eacute; comme vecteur de valorisation de soi et outil d&rsquo;int&eacute;gration sociale, elle souhaite aujourd&rsquo;hui mobiliser les diverses comp&eacute;tences acquises tout au long de son parcours pour d&eacute;velopper des ateliers de m&eacute;diation culturelle favorisant la participation, l&rsquo; &laquo; empowerment &raquo; et l&rsquo;int&eacute;gration.</p>
  </div>
</div>

