<div class="row">
 <div class="col-lg-3 col-md-3" >
		 <h4><B>Pia  Zühlke  </B></h4>
	</div>

</div>
<div class="row">
   
    <div class="col-lg-2 col-md-2" ng-init="pia_img = 'media/pia_profil.jpeg'">
		<img class="img-responsive"  ng-src="{{pia_img}}"> </img>
	</div>
   
  
   
   <div class="col-lg-10 col-md-10">
      <div class="row">
<p>Co-fondatrice et responsable d&rsquo;Ethos-animation , <strong>m&eacute;diatrice responsable des ateliers d&rsquo;arts visuels</strong> / collaboratrice dans les ateliers d&rsquo;arts performatifs.</p>
	</div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
           
		   
		        <li>
                  <p>Afficher présentation <input type="checkbox" ng-model="messa_presentation"></p>
               </li>
          
             
            </ul>
         </div>
      </div>
   </div>
</div>

  <div class="row">
  <br />
  </div>
<div ng-show="messa_presentation" >
   <div class="row" id="note">

<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;">Pia Catherine Z&uuml;hlke est <strong>artiste et illustratrice dipl&ocirc;m&eacute;e</strong>. Elle a obtenu son &eacute;ducation Bachelor durant les ann&eacute;es 2012 &agrave; 2015 &agrave; la Haute Ecole d&rsquo;art &amp; Design Lucerne. Elle est couramment en voie d&rsquo;obtenir son <strong>dipl&ocirc;me de Master en m&eacute;diation d&rsquo;art et culture &agrave; la Haute Ecole des beaux-arts &agrave; Berne</strong>, toute en travaillant comme assistante &agrave; la Haute Ecole dans le domaine de recherche.</p>
<p style="padding-left: 30px;"><br />Durant ses &eacute;tudes elle a acquis des connaissances en histoire de l&rsquo;art et de l&rsquo;exp&eacute;rience dans la pratique des arts visuels. Polyvalente, elle cumule actuellement des exp&eacute;riences pratiques dans le domaine de <strong>l&rsquo;enseignement, de la m&eacute;diation dans des mus&eacute;es ainsi que dans la coordination et l&rsquo;animation d&rsquo;ateliers socio-culturelles.</strong></p>
<p style="padding-left: 30px;">Elle est convaincue que les beaux-arts sont non seulement un outil d&rsquo;expression mais aussi d&rsquo;union et souhaite mobiliser ses comp&eacute;tences afin de cultiver une compr&eacute;hension mutuelle libre de pr&eacute;jug&eacute;s permettant de renforcer la coh&eacute;sion sociale.</p>
