<h4>Actualités</h4>

<div>
<p>&nbsp;</p>
<p style="text-align: justify;"><strong>Inscription pour activit&eacute;s artistique en equipe</strong></p>
<p style="text-align: justify;">Le 9 novembre, notre collectif lance son premier atelier de m&eacute;diation culturelle &ldquo;initiation &agrave; la cr&eacute;ation&rdquo;.</p>
<p style="text-align: justify;">Pendant 3h-4h, les deux animatrices et les participant-e-s explorent la danse et le dessin le temps d&rsquo;un atelier.</p>
<p style="text-align: justify;">Envie de t&rsquo;exprimer &agrave; travers une activit&eacute; artistique de mani&egrave;re ludique? Choisis les arts visuels ou performatif et rejoins-nous le 9 ou 16 novembre &agrave; 17h00.</p>

</div>
<div>
<img  src="media/Inscription_premier_atelier.png" alt="Logo" align="middle" style="width:70%" id="img_titre">
</div>




