<div class="row">
   <h4>Nos ateliers</h4>
   <table style="width:100%">
      <tr>
         <th>Formules</th>
         <th>Nom</th>
         <th>Nombre d'heures</th>
         <th>Nombre de participants</th>
         <th>Présentation</th>
         <th>Détails</th>
      </tr>
      <tr>
         <td>No 1</td>
         <td>Cycles créatifs</td>
         <td>Minimum 25h</td>
         <td>Max 20 (à discuter selon public)</td>
         <td>Présentation public</td>
         <td>Cliquez pour afficher présentation <input type="checkbox" ng-model="formule_1"></td>
      </tr>
      <tr>
         <td>No 2</td>
         <td>Initiation à la création</td>
         <td>3h-5h</td>
         <td>Max 20 (à discuter selon public)</td>
         <td>Présentation du travail au sein de l'institution</td>
         <td>Cliquez pour afficher présentation <input type="checkbox" ng-model="formule_2"></td>
      </tr>
   </table>
</div>
<br />
<br />
<div ng-show="formule_1" >
   <div class="row" id="note">
      <table style="width:100%">
         <tr>
            <th>Formule 1: Cycles créatifs</th>
         </tr>
         <tr>
            <th>
               <p>L&rsquo;id&eacute;e de ce cette formule est de d&eacute;velopper un projet artistique en plusieurs s&eacute;ances en vue d&rsquo;une performance ou d&rsquo;une exposition. Le &bdquo;cycle cr&eacute;atif&ldquo; est divis&eacute; en trois &eacute;tapes:</p>
               <ol>
                  <li>Formation d&rsquo;un team et identification d&rsquo;une id&eacute;e ou concept ( 3h): La premier &eacute;tape vise au &bdquo;team building&ldquo;, &agrave; identifier des id&eacute;es pour le projet ainsi que les comp&eacute;tences des participant-e-s, &agrave; travers des exercices ludiques (Icebreakers, etc.) et la r&eacute;alisation d&rsquo;un brainstorming interactif et participatif (Mindmap, etc.). NomNombre d&rsquo;heuresNombre de personnes Pr&eacute;sentation Formule 1 Cycles cr&eacute;atifs Minimum 25h Maximum 20 (&agrave; discuter selon le public) Pr&eacute;sentation public Formule 2 Initiation &agrave; la cr&eacute;ation 3h-5hMaximum 20 (&agrave; discuter selon le public) Pr&eacute;sentation du travail au sein de l&rsquo;institution</li>
                  <li>Exploration et cr&eacute;ation ( 15h-20h): La deuxi&egrave;me &eacute;tape vise &agrave; explorer la forme artistique choisie &agrave; travers divers exercices et &agrave; mat&eacute;rialiser le projet &agrave; travers un processus cr&eacute;atif. Durant ce processus les animatrices cr&eacute;ent la structure et le contenu du projet en collaboration avec les participant-e-s. Elle leurs donnent des outils, des pistes (techniques de dessin, possibilit&eacute; de mouvement, etc.) et les guident tout au long du processus.</li>
                  <li>Pr&eacute;sentation du projet et cl&ocirc;ture du cycle cr&eacute;atif ( 2h): La troisi&egrave;me &eacute;tape quant &agrave; elle vise &agrave; la pr&eacute;sentation du projet (spectacle, exposition, cr&eacute;ation d&rsquo;un livret, blog) &agrave; un public pr&eacute;alablement choisi et &agrave; la cl&ocirc;ture du cycle cr&eacute;atif.</li>
               </ol>
            </th>
         </tr>
      </table>
   </div>
</div>
<div ng-show="formule_2" >
   <div class="row" id="note">
     <table style="width:100%">
 <tr>
            <th>Formule 2: Initiation à la création</th>
         </tr>
         <tr>
            <th>
        <p>&nbsp;</p>
<p>La formule initation &agrave; la cr&eacute;ation se concentre principalement sur l&rsquo;exploration d&rsquo;une forme artistique. On &eacute;tabli un projet de petite envergure pr&eacute;sent&eacute; &agrave; la fin de l&rsquo;atelier.</p>
		  
		  </th>
         </tr>
   </table>
 </div>
</div>
<br />
<div class="row">
<h4>Formes d'expressions</h4>
    
    
   
    
</div>
</br>
 </br>
 </br>
<div class="row">

 <img  src="media/Cycles.png"  align="middle"  style="margin-left:200px ">
  
        
    </div>
  </br>
 </br>
 </br>
<div class="row">
<p><span style="text-decoration: underline;">Atelier d&rsquo;art performatif</span></p>
<p>Les ateliers d&rsquo;art performatif permettent d&rsquo;explorer la voix, le corps et l&rsquo;espace. Les formes d&rsquo;expression peuvent &ecirc;tre combin&eacute;es et offre de nombreuses possibilit&eacute;s pour cr&eacute;er. Les ateliers consistent &agrave; cr&eacute;er une performance de mani&egrave;re collaborative.</p>
<p><br /><span style="text-decoration: underline;">Atelier d&rsquo;expression &eacute;crite</span></p>
<p>Les ateliers d&rsquo;&eacute;criture permettent d&rsquo;explorer la cr&eacute;ativit&eacute; des participant-e-s pour exprimer ce qui les entoure, ce qu&rsquo;ils ressentent, d&eacute;sirent ou aiment. Lors de ce cycle d&rsquo;ateliers les participant-e-s sont accompagn&eacute;-e-s dans la r&eacute;daction de diff&eacute;rents types de texte. On choisit &agrave; travers divers exercices une piste d&rsquo;&eacute;criture et on se lance&nbsp;!</p>
<p><br /><span style="text-decoration: underline;">Atelier d&rsquo;arts visuels</span></p>
<p>Les Arts visuels offre un cadre cr&eacute;atif ou l&rsquo;observation et l&rsquo;imagination peuvent &ecirc;tre alli&eacute;es, afin de stimuler diff&eacute;rentes perspectives et d&eacute;velopper un output cr&eacute;atif. Diff&eacute;rentes techniques peuvent &ecirc;tre mobilis&eacute;es pour ce faire&nbsp;: collage, peinture, dessins, photographie, sculpture, etc. Ils offrent ainsi une palette d&rsquo;outils multipliant les possibilit&eacute;s de s&rsquo;exprimer &agrave; l&rsquo;infini.</p>
<p><br /><span style="text-decoration: underline;">Remarque&nbsp;:</span></p>
<p>La p&eacute;dagogie variera selon l&rsquo;&acirc;ge et le type de public. Nous prendrons en compte les barri&egrave;res linguistiques, motrices ou cognifives, afin de mettre en place une p&eacute;dagogie et des m&eacute;thodes adapt&eacute;es</p>


</div>