	<div class="row">
		 <div class="col-lg-2 col-md-2">
				
		 </div>
		  <div class="col-lg-6 col-md-6">
					<img  src="media/Logo_titre.jpg" alt="Girl in a jacket" align="middle" style="width:500px;height:150px;">
		 </div>
		   <div class="col-lg-4 col-md-4">
			</br>	
			<h5>Contacte</h5>
		
			<p><i class="fa fa-phone"></i> <abbr title="Phone">Téléphone</abbr>: (+41) xx xxxxxxx </p>
			<p><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a href="mailto:feedback@startbootstrap.com">m_gerstein@hotmail.com</a>
			</p>
			</br>	
			</br>	
			</br>	
		 </div>
	</div>