	<div class="row">
		 <div class="col-lg-3 col-md-3">
				
		 </div>
		  <div class="col-lg-7 col-md-7">
					<img  src="media/Logo_titre.jpg" alt="Girl in a jacket" align="middle" style="width:500px;height:150px;">
		 </div>
		   <div class="col-lg-2 col-md-2">
			</br>	
		
			<p> <img  src="media/whatsapp-logo.svg" alt="Girl in a jacket" align="middle" style="width:20px;height:20px;">  078 78 963 30 39</p>
			<p> <img  src="media/close-envelope.svg" alt="Girl in a jacket" align="middle" style="width:20px;height:20px;">  m_gerstein@hotmail</p>
			</p>
			</br>	
			</br>	
			</br>	
		 </div>
	</div>