	<div class="row">
		 <div class="col-lg-4 col-md-4">
				
		 </div>
		  <div class="col-lg-6 col-md-6">
					<img  src="media/Logo_titre.png" alt="Logo" align="middle" style="width:375px;height:150px;" id="img_titre">
              
              
		 </div>
		   <div class="col-lg-2 col-md-2">
			</br>	
		
			<p> <img  src="media/close-envelope.svg" alt="Girl in a jacket" align="middle" style="width:20px;height:20px;">  ethos.anim@gmail.com</p>
			<p> <img  src="media/whatsapp-logo.svg" alt="Girl in a jacket" align="middle" style="width:20px;height:20px;">  078 866 96 28 </p>
			</p>
			</br>	
			</br>	
			</br>	
		 </div>
	</div>